<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 매물찾아요 게시판 상세 페이지</title>
  <meta name="description" content="부동산 도우미 웹사이트는 부동산 계약 특약사항 작성에 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  
	<!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/find_detail.css">

  <!-- JS 링크 -->
  <script src="../js/find_write.js"></script>
</head>
<body>

	<!-- ===== Header ===== -->
  <header>
    <%- include('menu', {user:user}) %>
  </header>

  <div class="board-name">
    <span>매물찾아요 게시판</span>
  </div>

  <div class="container_input">
    <div class="row">
      <input type="text" id="find_id" value="<%= data[0].id %>" hidden>

      <label for="title">*제목</label>
      <input type="text" id="title" value="<%= data[0].title %>" disabled> <br>

      <label for="region">지역</label>
      <input type="text" id="region" value="<%= data[0].region %>" disabled> <br>

      <label for="area">면적</label>
      <input type="text" id="area" value="<%= data[0].area %>" disabled> <br>

      <label for="cost">금액</label>
      <input type="text" id="cost" value="<%= data[0].cost %>" disabled> <br>

      <label for="tel">*연락처</label>
      <input type="text" id="tel" value="<%= data[0].tel %>" disabled> <br>
    </div>
    
    <div class="container_textarea">
      <label for="etc">*내용</label>
      <textarea id="etc" rows="10" disabled> <%= data[0].etc %> </textarea> <br>

      <div class="buttons">
        <input type="button" name="list" value="목록" onclick="location.href='/find_list'">

        <% if (user && user.id == data[0].user_id ) { %>
          <input type="button" name="edit" value="수정" onClick="location.href='/find_edit/<%= data[0].id %>'">
          <input type="button" name="delete" value="삭제" onClick="deleteFind()">
        <% } %>
      </div>
    </div>
  </div>

</body>
</html>
