<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 매물찾아요 게시판 리스트 페이지</title>
  <meta name="description" content="부동산 도우미 웹사이트는 부동산 계약 특약사항 작성에 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  
	<!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
	<link rel="stylesheet" href="../css/find_list.css">
	<link rel="stylesheet" href="../css/footer.css">

  <!-- JS 링크 -->
	<!-- 이미지 폰트 사용 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<!-- ===== Header ===== -->
  <header>
    <%- include('menu', {user:user}) %>
  </header>

	<div class="board_name">
    <span>매물찾아요</span>
  </div>

	<!-- 매물찾아요 Cards -->
	<!-- 최근 게시물 4개만 card 형식으로 표시, 검색결과에도 적용 -->
	<div class="cards">
		<% for(let i=0; i<data.length; i++) { %>
			<% if(i >= 4) { %>
				<%	 break; } %>

			<div class="card">
				<a href="/find_detail/<%= data[i].id %>"> <p class="title"><%= data[i].title %></p> </a>
				<a href="/find_detail/<%= data[i].id %>"> <p class="region">지역 : <%= data[i].region %></p> </a>
				<a href="/find_detail/<%= data[i].id %>"> <p class="area">면적 : <%= data[i].area %></p> </a>
				<a href="/find_detail/<%= data[i].id %>"> <p class="cost">금액 : <%= data[i].cost %></p> </a> <br>
				<a href="/find_detail/<%= data[i].id %>"> <p class="etc"><%= data[i].etc %></p> </a> <br>
				<p class="id"> <%= data[i].user_name %> </p>
			</div>

		<% } %>
	</div>
	
	<!-- 매물찾아요 검색창 -->
	<form class="example" method="GET" action="/find_search">
		<input type="text" name="search" placeholder="검색어를 입력하세요">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>

	<!-- 매물찾아요 테이블 -->
	<div class="container">
		<table>
			<thead>
				<tr>
					<th style="width: 70%;">제목</th>
					<th style="width: 12%;">작성자</th>
					<th style="width: 10%;">작성일</th>
					<th style="width: 8%;">조회수</th>
				</tr>
			</thead>

			<tbody>
				<% for(let i=0; i<data.length; i++) { %>
					<tr>
            <td class="td_title"> <a href="/find_detail/<%= data[i].id %>"><%= data[i].title %></a> </td>
						<td class="td_center"> <label><%= data[i].user_name %></label> </td>
						<td class="td_center"> <label><%= data[i].created_at %></label> </td>
						<td class="td_center"> <label><%= data[i].hit %></label> </td>
					</tr> 
				<% } %>
			</tbody>
		</table>
	</div>

	<div>
		<% if (user) { %>
			<button class="buttons" id="list_btn" style="visibility:visible;" onclick="location.href='./find_list'">목록</button>
			<button class="buttons" id="write_btn" style="visibility:visible;" onclick="location.href='./find_write'">글쓰기</button>
		<% } else { %>
			<button class="buttons" id="list_btn" style="visibility:visible;" onclick="location.href='./find_list'">목록</button>
			<button class="buttons" id="write_btn" style="visibility:hidden;" onclick="location.href='./find_write'">글쓰기</button>
		<% } %>
	</div>
	
</body>
</html>
