<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 뉴스 페이지</title>
  <meta name="description" content="부동산 도우미 웹사이트는 부동산 사무실 대표님들의 업무에 도움이 되고자 합니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">

  <!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- The Open Graph Protocal -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="부동산 도우미">
  <meta property="og:title" content="부동산 도우미 웹사이트">
  <meta property="og:description" content="부동산 도우미는 부동산 중개업소를 운영하는 대표님들의 업무에 도움을 주는 웹사이트 입니다">
  <meta property="og:image" content="./images/for_seo.jpg">
  <meta property="og:url" content="">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/news.css">
  <link rel="stylesheet" href="../css/footer.css">
</head>

<body>

  <!-- Header -->
  <header>
    <%- include('menu', {user:user}) %>
  </header>
  
  <!-- News Cards -->
  <div class="cards">
    <div class="card">
      <a href="<%= data[0].url %>" target="_blank">
        <p class="title"><%= data[0].title %></p> 
      </a>
      <a href="<%= data[0].url %>" target="_blank">
        <p class="content"><%= data[0].summary %></p> 
      </a>
      <span class="press"> <%= data[0].press %> - </span>
      <span class="date"> <%= data[0].date %> </span>
    </div>
  
    <div class="card">
      <a href="<%= data[1].url %>" target="_blank">
        <p class="title"><%= data[1].title %></p> 
      </a>
      <a href="<%= data[1].url %>" target="_blank">
        <p class="content"><%= data[1].summary %></p> 
      </a>
      <span class="press"> <%= data[1].press %> - </span>
      <span class="date"> <%= data[1].date %> </span>
    </div>

    <div class="card">
      <a href="<%= data[2].url %>" target="_blank">
        <p class="title"><%= data[2].title %></p> 
      </a>
      <a href="<%= data[2].url %>" target="_blank">
        <p class="content"><%= data[2].summary %></p> 
      </a>
      <span class="press"> <%= data[2].press %> - </span>
      <span class="date"> <%= data[2].date %> </span> 
    </div>

    <div class="card">
      <a href="<%= data[3].url %>" target="_blank">
        <p class="title"><%= data[3].title %></p> 
      </a>
      <a href="<%= data[3].url %>" target="_blank">
        <p class="content"><%= data[3].summary %></p> 
      </a>
      <span class="press"> <%= data[3].press %> - </span>
      <span class="date"> <%= data[3].date %> </span> 
    </div>
  </div>
  
  <!-- News Table -->
  <table class="table-news">
    <% for(let i=0; i<data.length; i++) { %>
      <tr>
        <td>
          <a class="table-title" href="<%= data[i].url %>" target="_blank"> 
            <%= data[i].title %>
          </a>
        </td>
        <td>
          <a class="table-press" href="<%= data[i].url %>" target="_blank">
            <%= data[i].press %> - <%= data[i].date %>
          </a>
        </td>
      </tr> 
    <% } %> 
  </table>

  <!-- ===== footer ===== -->
  <header>
    <%- include('footer', {user:user}) %>
  </header>

</body>

</html>