<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 질문답변 게시판 edit 페이지</title>
  <meta name="description" content="부동산 도우미 웹사이트는 부동산 계약 특약사항 작성에 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  
	<!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/qna_edit.css">

  <!-- JS 링크 -->
  <script src="../js/qna_write.js"></script>
</head>
<body>

	<!-- ===== Header ===== -->
  <header>
    <%- include('menu', {user:user}) %>
  </header>

  <div class="board-name">
    <span>질문답변 게시판</span>
  </div>

  <!-- 질문답변 -->
  <div class="container">

    <input type="text" id="title" value="<%= data[0].title %>">

    <textarea id="content"><%= data[0].content %></textarea>

    <input type="button" name="edit" value="수정완료" onClick="">

    <table class="comment">
      <% for(let i=0; i<data.length; i++) { %>
        <tr>
          <td> 
            <p class="comment-row-1"><%= data[i].user_name %></p>
            <p class="comment-row-2"><%= data[i].comment %></p>
            <p class="comment-row-3"><%= data[i].created_at %></p>
            <br>
          </td>
        </tr> 
      <% } %>
    </table>
  </div>

</body>
</html>
